<template>
    <h2>Your Comic Issues</h2>
    <table>
        <thead>
            <tr><th>Title</th><th>Publisher</th><th>Volume</th><th>Issue</th><th>Year</th></tr>
        </thead>
        <tbody>
            <tr repeat.for="issue of Issues">
                <td>${issue.Title}</td>
                <td>${issue.Publisher}</td>
                <td>${issue.Volume}</td>
                <td>${issue.Issue}</td>
                <td>${issue.Year}</td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</template>