<template>
    <require from="../../infrastructure/date-format"></require>
    <h2>The Cosmic Search Finds All</h2>
    <p>Find your favorite issue online by title.</p>
    <form>
        <div class="container-fluid well well-sm">
            <div class="row">
                <label for="SearchTitleInput" class="col-md-2 text-right">Search by Title: </label><input type="text" value.bind="searchTermTitle" /><button click.delegate="searchOnTitle()">Search</button>&nbsp;<span class="alert-info">${titleErrorMessage}</span>
            </div>
        </div>
    </form>
    <h3>Results:</h3>
    <div class="well well-sm">
        <table class="table table-hover table-responsive table-striped">
            <thead>
                <tr><th>Title</th><th>Issue</th><th>Cover Date</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr repeat.for="item of searchResults">
                    <td>${item.Title}</td>
                    <td>${item.IssueNumber}</td>
                    <td>${item.CoverDate | dateFormat}</td>
                    <td><div innerhtml.bind="item.Description"></div></td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</template>